@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Chivo+Mono:ital,wght@0,500;1,500&family=Fragment+Mono:ital@0;1&family=Nunito:ital,wght@0,200;0,400;0,600;0,800;1,200;1,400;1,600;1,800&family=Sofia+Sans:wght@300;400&display=swap');

@import url("https://use.typekit.net/doo7gcl.css");

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 42px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  color: rgb()
} 

.App {
  text-align: center;
}
.App-link {
  color: #61dafb;
}
:is(h1, h2, h2, h4){
  font-family: 'Nunito', sans-serif;
}
h1{
  font-size: 2.6rem;
  line-height: 2.2rem;
  margin: 0 0;
}
h2{
  color: rgb(41, 41, 46);

}
.big{
  font-size: 3.2rem;
  line-height: 2.8rem;
}
.head-title{
  font-family: alfarn-2, monospace;
  color: rgb(246, 197, 83);
  font-size: 3.2rem;
  margin: 0 0;
}
.main{

}
.main-wrap{
  background: url(https://via.placeholder.com/750x220) no-repeat;
  background-size: contain;
  font-family: alfarn-2, monospace;
  font-size: 1.4rem;
  flex-direction: column;
  display: flex;
  align-items: center;
  background-color: rgb(246, 197, 83);
  color: rgb(41, 41, 46);
}
.welcome{
  margin-top: 32px;
  max-width: 768px;
  text-align: left;
}
.nav-el li{
  margin: 0 66px;
  font-size: 48px;
}
li img{
  width: 60px;
}
nav{
  display: flex;
  align-items: center;
  background-color: rgb(41, 41, 46);
  /* position: fixed;
  width: 100vw; */
}
article{
  box-shadow: -3px 3px 3px rgba(66,66,66, .8);
}
.item{
  margin: 12px 18px;
  font-family: 'Nunito', sans-serif;
  font-size: 1.2rem;
  color: rgb(246, 197, 83);
}
.item-cards{
  display: grid;
  grid-template-columns: repeat(4, minmax( 120px, 1fr));
  justify-content: center;
  font-size: 4rem;
}

@media (width <= 1199px){
  .item-cards{
    grid-template-columns: repeat(3, minmax( 120px, 1fr));
  }
}

@media (width <= 899px){
  .item-cards{
    grid-template-columns: repeat(2, minmax( 120px, 1fr));
  }
}

@media (width <= 678px){
  .item-cards{
    grid-template-columns: minmax( 120px, 1fr);
  }
}
