@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Chivo+Mono:ital,wght@0,500;1,500&family=Fragment+Mono:ital@0;1&family=Nunito:ital,wght@0,200;0,400;0,600;0,800;1,200;1,400;1,600;1,800&family=Sofia+Sans:wght@300;400&display=swap');

@import url("https://use.typekit.net/doo7gcl.css");

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 42px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  color: rgb()
} 
.App {
  text-align: center;
  background-color: rgba(246, 197, 83);
  height: 100vh;
}
.App-link {
  color: #61dafb;
}
:is(h1, h2, h2, h4){
  font-family: alkaline-caps, sans-serif;
}
h1{
  font-size: 2.8rem;
  line-height: 2.4rem;
  margin: 0 0;
}
h2{
  color: rgb(41, 41, 46);
}
h3{
  font-family: halogen,sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 1.8rem;
  color:rgb(246, 197, 83);
  text-shadow: -3px 2px 4px rgba(41, 41, 46, 0.8);
}
main{
  background-color: rgba(246, 197, 83, 1);
}
label{
  font-family: alkaline-caps, script;
  color:rgb(41, 41, 46);
  font-size: 2rem;
  margin: 12px 12px;
}
.big{
  font-size: 2.4rem;
  line-height: 2.8rem;
}
.head-title{
  font-family: alkaline, monospace;
  color: rgb(246, 197, 83);
  font-size: 3.2rem;
  margin: 0 0;
}
.form{
  display: flex;
  flex-direction: column;
  font-family: alkaline-caps, monospace;
  font-weight: 800;
  font-size: 1.4rem;
  text-align: left;
  justify-content: center;
  width: 80vw;
  max-width: 960px;
  color:rgb(41, 41, 46);
}
.main-wrap{
  background: url(https://via.placeholder.com/750x220) no-repeat;
  background-size: contain;
  font-family: alfarn-2, monospace;
  font-size: 1.4rem;
  flex-direction: column;
  display: flex;
  align-items: center;
  background-color: rgba(246, 197, 83, 1);
  color: rgba(41, 41, 46);
}
.welcome{
  margin-top: 32px;
  max-width: 768px;
  text-align: left;
}
.nav-el li{
  margin: 0 66px;
  font-size: 48px;
}
li img{
  width: 60px;
}
nav{
  display: flex;
  align-items: center;
  background-color: rgb(41, 41, 46);
}
article{
  box-shadow: -3px 2px 4px rgba(41, 41, 46, 0.8);
  width: 80vw;
  display: flex;
  flex-direction: column;
}
section{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 16px 12px;
}
section img{
  border-radius: 6px 6px;
  margin: 12px 8px;
  /* max-width: 60%;
  max-height: 60%; */
}
section h1{
  text-shadow: -3px 2px 4px rgba(41, 41, 46, 0.8);
}
section a{
  text-decoration: none;
}
section a:hover{
  color: rgb(246, 197, 83);
}
.new-item{
  display: flex;
  justify-content: center;
}
.new-item input[type=text]{
  display: flex;
  justify-content: center;
  background-color: antiquewhite;
}
.new-item input[type=text]{
  display: flex;
  justify-content: center;
  background-color: antiquewhite;
}
.new-item input[type=submit]{
  font-family: halogen, sans-serif;
  text-transform: uppercase;
  width: 50vw;
}
.item{
  display: flex;
  flex-direction: column;
  background-color: rgba(41,41,52,.6);
  margin: 12px 18px;
  justify-content: space-around;
  margin: 12px 16px;
  padding: 22px 22px;
  border-radius: 6px 6px;
  align-items: center;
  background-size: cover;
  background-position: center;
  transform: scale(.95);
  filter: brightness(.9);
  transition: ease 260ms;
}
.item:hover{
  transform: scale(1);
  mix-blend-mode: normal;
  filter: brightness(1.1);
  transition: ease 260ms;
  box-shadow: -3px 2px 8px rgba(41, 41, 46, 0.8);
}
.item-show{
  display: flex;
  flex-direction: column;
  width: 80vw;
  max-width: 960px;
  align-items: center;
  justify-content: center;
}
@media (width <= 1199px){
  section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 16px 12px;
  }
}

@media (width <= 899px){
  section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 16px 12px;
  }
}

@media (width <= 678px){
  section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 16px 12px;
  }
}
