@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Chivo+Mono:ital,wght@0,500;1,500&family=Fragment+Mono:ital@0;1&family=Nunito:ital,wght@0,200;0,400;0,600;0,800;1,200;1,400;1,600;1,800&family=Sofia+Sans:wght@300;400&display=swap');

@import url("https://use.typekit.net/doo7gcl.css");

*{
  margin: 0 0;
  padding: 0 0;
  /* outline: 1px solid red;
  overflow: scroll; */
}
html{
  margin: 0 0;
  padding: 0 0;
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 42px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  color: rgb()
} 
.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgba(246, 197, 83);
  min-height: 100vh;
}
.App-link {
  color: #61dafb;
}
:is(h1, h2, h2, h4, h6){
  font-family: alkaline-caps, sans-serif;
}
h1{
  font-size: 2rem;
  line-height: 1.8rem;
  margin: 0 0;
}
h2{
  color: rgb(41, 41, 46);
  font-size: 1.8rem;
}
h3{
  font-size: 1.2rem;
  font-family: halogen,sans-serif;
  font-weight: 900;
  font-style: normal;
  color:rgb(246, 197, 83);
  text-shadow: -3px 2px 4px rgba(41, 41, 46, 0.8);
}
h6{
  color: rgba(224, 224, 237, 0.8);
  font-size: .8rem;
}
main{
  background-color: rgba(246, 197, 83, 1);
  display: grid;
  /* gap: .1rem; */
}
.attn{
  color: dodgerblue;
}
label{
  font-family: alkaline-caps, script;
  color:rgb(41, 41, 46);
  font-size: 2rem;
  margin: 12px 12px;
}
.big{
  font-size: 4rem;
  line-height: 4.6rem;
  font-family: alkaline, script;
  text-shadow: -3px 2px 4px rgba(41, 41, 46, 0.8);
  margin-left: -166px;
}
.head-title{
  font-family: alkaline, monospace;
  color: rgb(246, 197, 83);
  font-size: 3.2rem;
  margin: 0 0;
}
.form{
  display: flex;
  flex-direction: column;
  font-family: alkaline-caps, monospace;
  font-weight: 800;
  font-size: 1.4rem;
  text-align: left;
  justify-content: center;
  width: 80vw;
  max-width: 960px;
  color:rgb(41, 41, 46);
}
.main-wrap{
  background: url(https://via.placeholder.com/750x220) no-repeat;
  background-size: contain;
  font-family: alfarn-2, monospace;
  font-size: 1.4rem;
  flex-direction: column;
  display: flex;
  align-items: center;
  background-color: rgba(246, 197, 83, 1);
  color: rgba(41, 41, 46);
}
.welcome{
  margin-top: 32px;
  max-width: 768px;
  text-align: left;
}
.nav-el li{
  font-size: 48px;
}
li img{
  width: 60px;
}
nav{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(41, 41, 46);
}
article{
  box-shadow: -3px 2px 4px rgba(41, 41, 46, 0.8);
  width: 80vw;
  display: flex;
  flex-direction: column;
}
section{
  width: 80vw;
  margin: 32px auto;
  display: grid;
  /* gap: .5rem; */
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}
section h1{
  text-shadow: -3px 2px 4px rgba(41, 41, 46, 0.8);
}
a{
  text-decoration: none;
}
button{
  font-family: halogen, sans-serif;
  text-transform: uppercase;
  background-color: dodgerblue;
  border: none;
  color: rgb(255, 255, 255);
}
button:hover{
  background-color: rgb(13, 99, 184);
  box-shadow: 2px 2px 6px rgb(41, 41, 46);
}
.hero{
  font-family: alkaline-caps, sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  color: rgba(255,255,255,1);
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('https://dev.lehi.work/img/dream-finds.jpg');
  background-size: cover;
  background-position: center;
  height: 420px;
  border-bottom: 16px solid dodgerblue;
  box-shadow: 2px 2px 6px rgba(0,0,0,.8);
}
.hero-text{
  max-width: 840px;
  line-height: 1.6rem;
}
.new-item{
  display: flex;
  justify-content: center;
}
input[type=submit]{
  box-shadow: 2px 2px 6px rgba(0,0,0,.8);
  transform: scale(.96);
  transition: ease 260ms;
}
input[type=submit]:hover{
  transform: scale(.98);
  transition: ease 260ms;
}
.new-item input[type=text]{
  display: flex;
  justify-content: center;
  background-color: antiquewhite;
  margin-bottom: 0;
  color:rgb(41, 41, 46);
  font-weight: 700;
}
:is(.new-item input[type=text], .new-item input[type=textarea]){
  display: flex;
  justify-content: center;
  background-color: antiquewhite;
  margin-bottom: 0;
  color:rgb(41, 41, 46);
  font-weight: 700;
}
.new-item input[type=textarea]{
  height: 112px;
  color:rgb(41, 41, 46);
}
.new-item input[type=submit]{
  font-family: halogen, sans-serif;
  text-transform: uppercase;
  width: 50vw;
  margin: 16px 16px;
}
.item{
  display: flex;
  flex-direction: column;
  background-color: rgba(41,41,52,.6);
  justify-content: space-around;
  padding: 22px 22px;
  border-radius: 6px 6px;
  align-items: center;
  /* min-width: 100%; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transform: scale(.92);
  filter: brightness(.9);
  transition: ease 260ms;
  min-height: 200px;
}
.item:hover{
  transform: scale(.95);
  mix-blend-mode: normal;
  filter: brightness(1.1);
  transition: ease 260ms;
  box-shadow: -3px 2px 8px rgba(41, 41, 46, 0.8);
  color:rgb(246, 197, 83)
}
.item-show{
  display: flex;
  flex-direction: column;
  width: 80vw;
  max-width: 960px;
  align-items: center;
  justify-content: center;
}
.footer{
  margin-top: auto;
  bottom: 0;
  height: 4.4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 2px -1px 4px rgba(41, 41, 46, 0.8);
  background-color: rgb(41, 41, 46);
}
.foot-links{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
@media (width >= 1600px){

}
@media (width <= 1599px){

}
@media (width <= 999px){

}
@media (width <= 736px){

}
@media (width <= 499px){

}
